@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './statics';
@import './loader';
@import './heading';
@import './header';
@import './tags';
@import './sliders';
@import './heading';
@import './postFlex';
@import './postY';
@import './postX';
@import './sports';
@import './postGrid';
@import './videos';
@import './weather';
@import './about';
@import './contact';
@import './profileEdit';
@import './profileTemplate';
@import './profile';
@import './profilePost';
@import './profilePostVideo';
@import './writer';
@import './category';
@import './login';
@import './forgot';
@import './single';
@import './footer';
@import './mediaQuery.scss';

body {
    padding: 0;
    margin: 0;
    font-family: $text1 ;
    background-color: $white;
    overflow-x: hidden;
}

input {
    &:focus-visible, &:hover {
        border: none;
        outline: none;
        box-shadow: none !important;
    }
}

textarea {
    &:focus-visible, &:hover {
        border: none;
        outline: none;
        box-shadow: none !important;
    }
}


button {
    &:active {
        background-color: transparent !important;
    }

    &:hover {
        background-color: transparent !important;
        color: $primary !important;
    }
}

#notFound {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: 80vh;

    > h3 {
        font: 400 5vmax $text1;
        color: $primary;
    }
}

#breadcrumbs {
    justify-content: flex-start;
    align-items: center;
    width: 85vw;
    margin: 0.5em auto;
    gap: 0;

    > a {
        font-size: 0.8vmax;

        &:first-of-type {
            color: $dark;

            &:hover {
                color: $primary;
            }
        }

        &:last-of-type {
            color: $white_1;
            cursor: default;
        }
    }
}

#pagination {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2vmax;
    margin: 1vmax 0;

    > span {
        font: 400 1vmax $text1;
        padding: 0.4vmax 0.8vmax;
        cursor: pointer;
        border-radius: 0.7vmax;

        &:hover {
            background-color: $dark_reverse_2;
            color: $primary
        }
    }
    
    > span.active {
        background-color: $dark_reverse_2;

        &:hover {
            color: $dark;
            cursor: not-allowed;
        }
    }

    > span.going {
        background-color: transparent;

        &:hover {
            color: $dark;
        }
    }

    > span.next {
        background-color: $dark_reverse_2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &:hover {
            color: $primary;
        }
    }
}

img {
    object-fit: cover !important;
}