// Colors
$primary: #F81539;
$primary_1: #FA506A;
$primary_2: #FBBA9C;
$primary_light: #FDC5CD;
$primary_light_1: #FEE8EB;
$primary_light_2: #FFF3F5;

$blacK: #3E3232;
$black_1: #6C6465;
$black_2: #9A9598;
$black_light: #C7C7CC;
$black_light_1: #E3E4EB;
$black_light_2: #ECEEF5;

$white: #FFFFFF;
$white_1: #C2C5CF;
$white_2: #848B9E;
$white_reverse: #47526E;
$white_reverse_1: #222F50;
$white_reverse_2: #162447;

$dark: #000000;
$dark_1: #404040;
$dark_2: #808080;
$dark_reverse: #BFBFBF;
$dark_reverse_1: #E5E5E5;   
$dark_reverse_2: #F2F2F2;

$secondary: #FC4308;
$secondary_1: #FD7246;
$secondary_2: #FDA183;
$secondary_light: #FED0C1;
$secondary_light_1: #FFECE6;
$secondary_light_2: #FFF6F3;

$primary_dark: #FB3418;
$white_light: #F5F5F5;
$gray_light: #C3C3C3; 



// Typography
$text1: "Roboto", Sans-serif;
$text2: "Open Sans", Sans-serif;

$h1: 36px;
$h2: 31px;
$h3: 25px;
$h4: 20px;
$h5: 16px;
$h6: 13px;
$subtitle_reg: 16px;
$subtitle_md: 14px;
$body_reg: 16px;  
$body_md: 14px;
$btn_md: 14px;  
$input_text_reg: 12px;
$overline_reg: 10px;