#followBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.4vmax 0.6vmax;
    border-radius: 0.7vmax;
    color: $white !important;
    gap: 0.2vmax;
    background-color: $primary_1 !important;
    float: right;
    cursor: pointer;

    &:hover {
        color: $dark !important;
        background-color: $dark_reverse_2 !important;
    }

    > span {
        font: 400 0.8vmax $text1;
    }
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vmax;
    
    > #writerMenuItem {
        font: 400 16px $text1;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;   
        padding-bottom: 0.3vmax;
        gap: 0.3vmax;

        > h4 {
            font: 400 0.9vmax $text1;
        }
    }
}